.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-synthesis: none;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  align-self: flex-end;
  width: fit-content;
  position: relative;
  display: grid;
  grid-template-rows: auto 0fr;
  transition: 0.3s;
  box-shadow: inset 0 0 0 1px var(--foreground);
  border-radius: 24px;
  overflow: hidden;
}

.dropdown {
  overflow: hidden;
  min-height: 0;
  z-index: 0;
}

.ctas:hover {
  grid-template-rows: auto 1fr;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
}

.dropdownContent a {
  display: block;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--foreground);
  }
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  font-family: var(--font-geist-sans);
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  position: relative;
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
  z-index: 999;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

button.secondary {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  font-family: var(--font-geist-sans);
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: transparent;
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  font-family: var(--font-geist-sans);
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    padding: 0 16px;
  }

  .ctas {
    grid-template-rows: auto 1fr;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.icon {
  width: 24px;
  height: 24px;
  border: 2px solid var(--gl-theme);
  color: var(--gl-theme);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-shrink: 0;
}

.glMerge {
  max-width: 990px;
}

.glLink {
  color: #1068bf;
}

.glOverviewWrap {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
}

.glOverview {
  display: block;
  font-weight: 600;
  padding: 12px 16px;
  width: fit-content;
  box-shadow: inset 0 -2px 0 0 var(--gl-theme, #6666c4);
}

.glMrBlock {
  width: 100%;
  padding: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 0;
    border-left: 1px solid #dbdbdb;
    bottom: -17px;
  }

  &:last-child::after {
    display: none;
  }
}

.glMrEmpty {
  width: 100%;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 4px;
  opacity: 0.5;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.06) 25%,
      rgba(0, 0, 0, 0.15) 37%,
      rgba(0, 0, 0, 0.06) 63%
    );
    background-size: 400% 100%;
  }
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.thumb {
  align-self: flex-start;
  padding: 4px 16px;
  background-color: #fff;
  outline: none;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 0 1px 0 #dbdbdb;
  border-radius: 4px;
  cursor: pointer;
}

.approve {
  color: #fff;
  background-color: #1f75cb;
  box-shadow: inset 0 0 0 1px #1068bf;
  cursor: pointer;
  padding: 8px 12px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #1068bf;
}

.edgeIcon {
  width: 24px;
  height: 24px;
}

.merged {
  color: #1f75cb;
  width: 28px;
  height: 28px;
}

.merge {
  width: 28px;
  height: 28px;
}
