:root {
  --background: #ffffff;
  --foreground: #171717;

  --gl-theme: #35935c;
}

@font-face {
  font-family: 'geist-sans';
  src: url('./fonts/GeistVF.woff');
}

@font-face {
  font-family: 'geist-mono';
  src: url('./fonts/GeistMonoVF.woff');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-geist {
  font-family: 'geist-sans geist-mono';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
